/* * {
    border: solid black;
} */
body {
    height: 100vh;
    position: relative;
}
/* 头部 */
#header {
    height: 15vh;
    width: 98%;
    box-sizing: border-box;
    position: relative;
    border: solid black;
    border-radius: 24px;
    margin: 1px 1% 1px 1%;
    background: rgb(253,229,172);
    box-shadow: 5px 5px 5px darkgray,
                0px -2px 2px black inset;
}
#home {
    position: absolute;
    top: 5%;
    left: 5%;
}
#home img {
    width: 100px;
    height: 100px;
}
#title {
    width: 50vw;
    margin: 10px auto;
}
#title h1 {
    text-align: center;
    position: relative;
    font-size: 4em;
    margin-top: 20px;
    margin-top: auto;
    font-family: 'curlz MT';
}
#titleKokodayo {
    position: absolute;
    width: 256px;
    height: 256px;
    right: 0px;
    bottom: -48px;
    z-index: 1000;
}

/* 主体内容 */
#container {
    height: 85vh;
    box-sizing: border-box;
    position: relative;
}
/*=================================================*/
/* 帖子部分 */
.gotoFileIndex {
    color: black;
    text-decoration: none;
}
.gotoFileIndex:visited {
    color: black;
    text-decoration: none;
}
#textContainer {
    position: relative;
    width: 98%;
    min-height: 80vh;
    box-sizing: border-box;
    border: solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
    background: rgba(152,193,210,0.8);
    box-shadow: 5px 5px 5px darkgray;
}
/* 帖子区标题 */
#textContainer h1 {
    max-height: 10%;
    margin: 0px auto 5px auto;
    box-sizing: border-box;
    text-align: center;
}
/* 分区标题 */
#textContainer div h2 {
    position: absolute;
    margin: auto;
    top: 2px;
    left: 10px;
    width: 95%;
    border-bottom: solid black;
}
/* 链接 */
#textContainer div p a {
    text-decoration: none;
}
#textContainer div p a {
    color: rgb(10, 99, 110);
    text-decoration: none;
    font-weight: bolder;
}

#textContainer div p {
    position: absolute;
    top: 5%;
    left: 10px;
}

.titleBox::-webkit-scrollbar {
    width: 4px;
}
.titleBox::-webkit-scrollbar-thumb {
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.4);
}
.titleBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 50px;
    background: rgba(255,255,255,0.3);
}

#guide {
    position: absolute;
    height: 96%;
    width: 32%;
    left: 1%;
    box-sizing: border-box;
    border: black solid;
    border-radius: 4px;
    overflow-y: scroll;
    background: linear-gradient(to right,rgba(226,154,128,0.8), rgba(253,229,172,0.6));
}

#communicate {
    position: absolute;
    height: 96%;
    width: 32%;
    left: 34%;
    box-sizing: border-box;
    border: black solid;
    border-radius: 4px;
    overflow-y: scroll;
    background: linear-gradient(to right,rgba(226,154,128,0.8), rgba(253,229,172,0.6));
}
#creation {
    position: absolute;
    height: 96%;
    width: 32%;
    left: 67%;
    box-sizing: border-box;
    border: black solid;
    border-radius: 4px;
    overflow-y: scroll;
    background: linear-gradient(to right,rgba(226,154,128,0.8), rgba(253,229,172,0.6));
}
#postImg {
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: -1;
    right: 0%;
    bottom: 4%;
}
.post {
    position:relative;
    left:85%;
    top:1%;
    background-color:rgb(76,153,77);
}
