/* * {
    border: solid black;
} */
body {
    height: 100vh;
    position: relative;
}
/* 头部 */
#header {
    height: 15vh;
    width: 98%;
    box-sizing: border-box;
    position: relative;
    border: solid black;
    border-radius: 24px;
    margin: 1px 1% 1px 1%;
    background: rgb(253,229,172);
    box-shadow: 5px 5px 5px darkgray,
                0px -2px 2px black inset;
}
#home {
    position: absolute;
    top: 5%;
    left: 5%;
}
#home img {
    width: 100px;
    height: 100px;
}
#title {
    width: 50vw;
    margin: 10px auto;
}
#title h1 {
    text-align: center;
    position: relative;
    font-size: 4em;
    margin-top: 20px;
    margin-top: auto;
    font-family: 'curlz MT';
}
#titleKokodayo {
    position: absolute;
    width: 256px;
    height: 256px;
    right: 0px;
    bottom: -48px;
    z-index: 1000;
}

/* 主体内容 */
#container {
    height: 85vh;
    box-sizing: border-box;
    position: relative;
}
/*=================================================*/
/* 材料掉落部分 */
#materialContainer {
    position: absolute;
    left: 1%;
    top: 0%;
    width: 48%;
    height: 83%;
    box-sizing: border-box;
}
#materialContainer h1 {
    border: solid black;
    border-radius: 4px;
    margin: 10px 4px;
    padding: 4px 4px;
    background-image: linear-gradient(to right, rgb(18,18,18), silver);
    color: white;
    box-shadow: 5px 5px 5px darkgray;
}
#material {
    border: solid black;
    height: 100%;
    border-radius: 4px;
    margin: 10px 4px;
    padding: 4px 4px;
    overflow-y: scroll;
    background: rgba(18,18,18,0.8);
    box-shadow: 5px 5px 5px darkgray;
}
#material::-webkit-scrollbar {
    width: 4px;
}
#material::-webkit-scrollbar-thumb {
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.4);
}
#material::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 50px;
    background: rgba(255,255,255,0.3);
}
#material p a img {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
}
#material p a img:hover {
    border: dashed silver;
}
#materialImg {
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: -1;
    right: 0%;
    bottom: -16%;
}
#material p {
    color: white;
    font-size: 1.2em;
}
/*=================================================*/
/* 帖子部分 */
.gotoFileIndex {
    color: black;
    text-decoration: none;
}
.gotoFileIndex:visited {
    color: black;
    text-decoration: none;
}
#textContainer {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 49%;
    height: 96%;
    box-sizing: border-box;
    border: solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
    background: rgba(152,193,210,0.8);
    box-shadow: 5px 5px 5px darkgray;
}
/* 帖子区标题 */
#textContainer h1 {
    max-height: 10%;
    margin: 0px auto 5px auto;
    box-sizing: border-box;
    text-align: center;
}
/* 分区标题 */
#textContainer div h2 {
    position: absolute;
    margin: auto;
    top: 2px;
    left: 10px;
    width: 95%;
    border-bottom: solid black;
}
/* 链接 */
#textContainer div p a {
    text-decoration: none;
}
#textContainer div p a {
    color: rgb(10, 99, 110);
    text-decoration: none;
    font-weight: bolder;
}
#guide {
    height: 30%;
    margin: 5px auto;
    box-sizing: border-box;
    border: black solid;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    background: linear-gradient(to right,rgba(226,154,128,0.8), rgba(253,229,172,0.6));
}
#guideTitleSpan {
    font-size: 0.5em;
    text-decoration:line-through;
}
#guide p {
    position: absolute;
    top: 15%;
    left: 30px;
}
#communicate {
    height: 30%;
    margin: 5px auto;
    box-sizing: border-box;
    border: black solid;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    background: linear-gradient(to right,rgba(226,154,128,0.8), rgba(253,229,172,0.6));
}
#communicateTitleSpan {
    font-size: 0.5em;
}
#communicate p {
    position: absolute;
    top: 15%;
    left: 30px;
}
#creation {
    height: 30%;
    margin: 5px auto;
    box-sizing: border-box;
    border: black solid;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    background: linear-gradient(to right,rgba(226,154,128,0.8), rgba(253,229,172,0.6));
}
#creation p {
    position: absolute;
    top: 15%;
    left: 30px;
}
#postImg {
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: -1;
    right: 0%;
    bottom: 4%;
}