 /**{
    border: solid black;
} */
body {
    height: 100vh;
    position: relative;
    
}
/* 头部 */
#header {
    height: 15vh;
    width: 98%;
    box-sizing: border-box;
    position: relative;
    border: solid black;
    border-radius: 24px;
    margin: 1px 1% 1px 1%;
    background: rgb(253,229,172);
    box-shadow: 5px 5px 5px darkgray,
                0px -2px 2px black inset;
}
#home {
    position: absolute;
    top: 5%;
    left: 5%;
}
#home img {
    width: 100px;
    height: 100px;
}
#title {
    width: 50vw;
    margin: 10px auto;
}
#title h1 {
    text-align: center;
    position: relative;
    font-size: 4em;
    margin-top: 20px;
    margin-top: auto;
    font-family: 'curlz MT';
}
#titleKokodayo {
    position: absolute;
    width: 256px;
    height: 256px;
    right: 20px;
    bottom: -48px;
    z-index: 1000;
}
#userName {
    position: absolute;
    color: rgb(29, 122, 161);
    right: 20px;
    top: -20px;
    z-index: 200;
    text-align: right;
}
#gotoLogin {
    position: absolute;
    color: rgb(29, 122, 161);
    right: 10px;
    top:0px;
    z-index: 1001;
}
#gotoLogin:visited {
    color: rgb(29, 122, 161);
}
/*=================================================*/
/* 帖子部分 */
.gotoFileIndex {
    color: black;
    text-decoration: none;
}
.gotoFileIndex:visited {
    color: black;
    text-decoration: none;
}
#textContainer {
    position: relative;
    width: 98%;
    min-height: 80vh;
    box-sizing: border-box;
    border: solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
    background: rgba(152,193,210,0.8);
    box-shadow: 5px 5px 5px darkgray;

}
/* 帖子区标题 */



#textBody {
    position: relative;
    width: 75%;
    min-height: 70vh;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 10px;
    border: solid rgb(253,229,172);
    border-radius: 40px;
    background: rgba(253,229,172,0.5);
    box-shadow: 5px 5px 5px darkgray;
}

#textBody button{
    position: relative;
    left: 5%;
    top: 0%;
}

#textBody h1{
    position: relative;
    left: 5%;
    top: 0%;
    width: 90%;
}
#textBody h4{
    position: relative;
    left: 5%;
    top: 8%;
    width: 90%;
}
#textBoarder{
    position: relative;
    width: 70%;
    left: 15%;
    
}
#textShow{
    position: relative;
    text-align: left;
    /*overflow-wrap:break-word*/
}
#fileShow{
    position: relative;
    text-align: center;
}

#fileShow img{
    width: 70%;
}

.titleBox::-webkit-scrollbar {
    width: 4px;
}
.titleBox::-webkit-scrollbar-thumb {
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.4);
}
.titleBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 50px;
    background: rgba(255,255,255,0.3);
}
#postImg {
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: -1;
    right: 0%;
    bottom: 4%;
}